/****************************************
 * Level Up Theme for High Level (GHL)
 * https//highlevelthemes.com
 * Version: v1.2.0
 ****************************************/
/* CUSTOM COMPONENTS */
/**
 * ADORNMENTS
 **/
/* Background green circle floating upper left */
.adorn-circle-top-left {
  isolation: isolate;
}
.adorn-circle-top-left::before {
  content: "";
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><circle cx="100" cy="100" r="78" fill="transparent" stroke="%23000" stroke-width="32px" /></svg>');
  background-color: var(--theme-primary-color);
  position: absolute;
  top: -80px;
  left: -80px;
  width: 200px;
  height: 200px;
  scale: 1.2;
  z-index: -1;
}
@media (prefers-reduced-motion: no-preference) {
  .adorn-circle-top-left::before {
    animation: adorn-anim-circle-top-left 10s linear 1 alternate;
  }
}
@keyframes adorn-anim-circle-top-left {
  from {
    top: 0;
    left: -1%;
  }
}

/**
 * BUTTONS
 **/
.horizontal .c-button {
  /* Make buttons in horizontal columns only fit content */
  flex: 0 1 fit-content !important;
  /* Full width buttons in mobile size container */
}
@container (max-width: 480px) {
  .horizontal .c-button {
    flex-basis: 100% !important;
  }
  .horizontal .c-button button,
  .horizontal .c-button a {
    width: 100%;
  }
}

.c-button .btn-primary {
  box-shadow: var(--theme-primary-button-shadow) !important;
}
.c-button .btn-primary:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) !important;
  transform: scale(0.95);
}
.c-button .btn-secondary:hover,
.c-button .btn-link:hover {
  background-color: var(--theme-button-primary-bg-color);
  color: var(--theme-button-primary-text-color);
}
.c-button .btn-link {
  box-shadow: none !important;
  border: none !important;
}
.c-button .btn-link .main-heading-button {
  text-decoration: underline;
}

.btn-primary .form-builder--btn-submit button {
  color: var(--theme-button-primary-text-color) !important;
  background: var(--theme-button-primary-bg-color) !important;
}

.btn-primary button[type=submit],
.btn-primary button.form-btn {
  box-shadow: var(--theme-primary-button-shadow) !important;
}
.btn-primary button[type=submit]:hover,
.btn-primary button.form-btn:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) !important;
  transform: scale(0.95);
}

/**
 * BUTTONS
 **/
/**
 * CARD FLIPPER
 **/
@media only screen and (min-width: 768px) and (hover: hover) {
  .c-column.card-flipper {
    cursor: pointer;
    perspective: 1000px;
    border: none !important;
    box-shadow: none;
    padding-bottom: 0;
  }
  #preview-container .c-column.card-flipper:hover > .inner {
    transform: rotateY(180deg);
  }
  .c-column.card-flipper > .inner {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    will-change: transform;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .c-column.card-flipper .c-wrapper:has(> .card-front, > .card-back),
  .c-column.card-flipper .c-image:has(.card-front, .card-back) {
    width: 100%;
    flex: 0 0 auto;
    backface-visibility: hidden;
  }
  #preview-container .c-column.card-flipper .c-wrapper:has(> .card-back), #preview-container .c-column.card-flipper .c-image:has(.card-back) {
    transform: rotateY(180deg);
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/**
 * DECORATORS
 **/
@media (prefers-reduced-motion: no-preference) {
  p > a[href] {
    position: relative;
  }
  p > a[href]::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  p > a[href]:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
/**
 * IMAGE
 **/
.c-image .img-invert {
  filter: invert(1);
}
.c-image .img-circle-primary {
  --color: ;
  border-radius: 9999px;
  aspect-ratio: 1/1;
  object-fit: contain;
  height: auto;
  background-color: var(--theme-primary-color);
}
.c-image .img-invert.img-circle-primary {
  filter: none;
  border: 4px solid var(--theme-primary-color);
  background: none;
}
@supports selector(:has(+ *)) {
  .c-image .img-circle-primary {
    background: none;
  }
  .c-image .img-circle-primary.img-invert {
    border: none;
    filter: invert(1);
  }
  .c-image picture:has(.img-circle-primary) {
    background-color: var(--theme-primary-color);
    border-radius: 9999px;
    aspect-ratio: 1/1;
    max-width: fit-content;
    margin: auto;
  }
}

/**
 * BUTTONS
 **/
/**
 * LAYOUT
 * Add these classes to columns to change the layout behavior.
 **/
/* Layout Columns */
.c-column.content {
  align-self: center;
}
.c-column.content .c-wrapper:not(.c-button, .c-custom-code) {
  flex-basis: 100%;
}
.c-column.card {
  align-self: start;
}
.c-column.card .c-wrapper:not(.c-button, .c-custom-code, .c-image) {
  flex-basis: 100%;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .c-column.card {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .c-column.floating {
    margin: unset;
  }
}

/* Layout Utilities */
.align-self-center, .c-wrapper:has(> .align-self-center) {
  align-self: center !important;
}

.align-self-start, .c-wrapper:has(> .align-self-start) {
  align-self: flex-start !important;
}

.align-self-end, .c-wrapper:has(> .align-self-end) {
  align-self: flex-end !important;
}

.gap-10 > .inner {
  --gap: 10px;
}

.gap-20 > .inner {
  --gap: 20px;
}

@supports selector(:has(+ *)) {
  .c-column > .horizontal > .c-wrapper .w-20,
  .c-column > .horizontal > .c-wrapper .w-30,
  .c-column > .horizontal > .c-wrapper .w-50,
  .c-column > .horizontal > .c-wrapper .w-70,
  .c-column > .horizontal > .c-wrapper .w-80 {
    width: 100% !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-20) {
    flex-basis: calc(20% - var(--gap)) !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-30) {
    flex-basis: calc(30% - var(--gap)) !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-50) {
    flex-basis: calc(50% - var(--gap)) !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-70) {
    flex-basis: calc(70% - var(--gap)) !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-80) {
    flex-basis: calc(80% - var(--gap)) !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-100) {
    flex-basis: 100% !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-auto) {
    flex-basis: auto !important;
  }
}
#preview-container .c-wrapper:has(> .sticky) {
  position: sticky;
  top: 0;
  z-index: 1;
}

/**
 * FEATURE IMAGE STYLES
 * Add class to containing column
 **/
.feature-image-full-width .c-image-feature {
  flex-basis: 100% !important;
}
.feature-image-full-width .c-image-feature .img-feature-container {
  display: flex !important;
  gap: 10px;
}
.feature-image-full-width .c-image-feature .img-feature-container.feature-img-right .img-container {
  order: 2;
}
.feature-image-full-width .c-image-feature .img-container {
  flex: 0 0 max-content;
}
.feature-image-full-width .c-image-feature .txt-container {
  flex: 1 auto;
}

/**
 * BUTTONS
 **/
/**
 * FOOTER
 */
@container (max-width: 480px) {
  .footer .social-links {
    justify-content: center;
  }
}

/**
 * BUTTONS
 **/
/**
 * GRID CLASSES
 */
.col-span-2,
div.c-wrapper:has(> .col-span-2) {
  grid-column: span 2;
}

.col-span-3,
div.c-wrapper:has(> .col-span-3) {
  grid-column: span 3;
}

.col-span-4,
div.c-wrapper:has(> .col-span-4) {
  grid-column: span 4;
}

@media only screen and (max-width: 767px) {
  .tablet-grid-cols-2 > .inner,
  .tablet-grid-cols-3 > .inner,
  .tablet-grid-cols-4 > .inner {
    display: grid !important;
    align-items: center;
    justify-items: center;
  }
  .tablet-grid-cols-2 > .inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .tablet-col-span-2,
  div.c-wrapper:has(> .tablet-col-span-2) {
    grid-column: span 2;
  }
  .tablet-grid-cols-3 > .inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .tablet-col-span-3,
  div.c-wrapper:has(> .tablet-col-span-3) {
    grid-column: span 3;
  }
  .tablet-grid-cols-4 > .inner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .tablet-col-span-4,
  div.c-wrapper:has(> .tablet-col-span-4) {
    grid-column: span 4;
  }
  .tablet-order-1 {
    order: 1;
  }
  .tablet-order-2 {
    order: 2;
  }
  .tablet-order-3 {
    order: 3;
  }
  .tablet-order-4 {
    order: 4;
  }
  .tablet-order-5 {
    order: 5;
  }
  .tablet-order-6 {
    order: 6;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-grid-cols-2 > .inner {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
  }
  .mobile-col-span-2,
  div.c-wrapper:has(> .mobile-col-span-2) {
    grid-column: span 2;
  }
  .mobile-order-1 {
    order: 1;
  }
  .mobile-order-2 {
    order: 2;
  }
  .mobile-order-3 {
    order: 3;
  }
  .mobile-order-4 {
    order: 4;
  }
  .mobile-order-5 {
    order: 5;
  }
  .mobile-order-6 {
    order: 6;
  }
}
@supports selector(:has(+ *)) {
  .c-column > .horizontal > .c-wrapper .w-grid-2,
  .c-column > .horizontal > .c-wrapper .w-grid-3,
  .c-column > .horizontal > .c-wrapper .w-grid-4 {
    width: 100% !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-grid-2) {
    flex-basis: calc(50% - var(--gap)) !important;
    flex-grow: 0 !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-grid-3) {
    flex-basis: calc(30% - var(--gap)) !important;
    flex-grow: 0 !important;
  }
  .c-column > .horizontal > .c-wrapper:has(.w-grid-4) {
    flex-basis: calc(25% - var(--gap)) !important;
    flex-grow: 0 !important;
  }
}
/**
 * SHOW MORE
 **/
#preview-container .c-button.c-wrapper:has(> .show-less-btn),
#preview-container .c-button.show-less {
  display: none;
}
#preview-container .show-more-shown .c-button.c-wrapper:has(> .show-less-btn),
#preview-container .show-more-shown .c-button.show-less {
  display: initial;
}
#preview-container .show-more-shown .c-button.c-wrapper:has(> .show-more-btn),
#preview-container .show-more-shown .c-button.show-more {
  display: none;
}
#preview-container .c-row.show-more {
  display: none;
}
#preview-container .c-row.show-more.show-more-shown {
  display: initial;
}

/**
 * SOCIAL LINKS
 **/
.fa-facebook:before {
  content: "\f09a";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-slack:before {
  content: "\f198";
}

.fa-linkedin-in:before {
  content: "\f0e1";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-telegram:before {
  content: "\f2c6";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-pinterest:before {
  content: "\f0d2";
}

ul.social-links {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
ul.social-links li {
  list-style: none;
}
ul.social-links li a {
  margin: 0 5px 10px;
}
ul.social-links li a i {
  padding: 5px;
  border: 1px solid #9ba8a5;
  font-size: 20px;
  background-color: #9ba8a5;
  border-radius: 40px;
  color: #ffffff;
  transition: background-color 0.5s linear;
}
ul.social-links li a[href]:not([href^=http]), ul.social-links li a[href=""], ul.social-links li a[href="-"] {
  display: none;
}
ul.social-links li:hover a i {
  background-color: var(--theme-button-primary-bg-color);
  color: #ffffff;
}

/**
 * TEXT UTILITIES
 * Add these to columns or elements to modify text elements.
 */
/* Text Utilities */
.text-wrap-nowrap {
  text-wrap: nowrap;
}

.responsive-text-hero h1 {
  font-size: clamp(1.5rem, 4vw + 1rem, 3.75rem) !important;
  line-height: 1.3em;
}

.responsive-text h1 {
  font-size: clamp(1.25rem, 2vw + 1rem, 2.375rem) !important;
  line-height: 1.2em;
}

/*# sourceMappingURL=components.css.map */
