/**
 * THEME CSS CONFIG
 * Import this file before importing other css files.
 **/
/**
 * Theme Properties
 **/
@property --color-lt985yd7 {
  syntax: "<color>";
  inherits: false;
  initial-value: #079561;
}
@property --color-lt9ca2ns {
  syntax: "<color>";
  inherits: false;
  initial-value: #56D296;
}
@property --color-lt9cay4k {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}
@property --color-lt9cbrrr {
  syntax: "<color>";
  inherits: false;
  initial-value: #859389;
}
@property --color-lt9cc31b {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}
@property --color-lt9cceqm {
  syntax: "<color>";
  inherits: false;
  initial-value: #859389;
}
@property --color-lt9cdq6h {
  syntax: "<color>";
  inherits: false;
  initial-value: #859389;
}
@property --color-lt9ceg80 {
  syntax: "<color>";
  inherits: false;
  initial-value: #188bf6;
}
@property --color-lt9cetri {
  syntax: "<color>";
  inherits: false;
  initial-value: #079561;
}
@property --color-lt9cf6ne {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}
@property --color-lt9cg14m {
  syntax: "<color>";
  inherits: false;
  initial-value: #079561;
}
@property --color-lt9cge0z {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}
@property --color-lt9cgr2u {
  syntax: "<color>";
  inherits: false;
  initial-value: #079561;
}
@property --color-lt9ch38v {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}
@property --color-lt9chjvd {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}
@property --color-lt9cidqc {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}
@property --color-lt9ciq7x {
  syntax: "<color>";
  inherits: false;
  initial-value: #FBFBFB;
}
@property --color-lt9cj7fg {
  syntax: "<color>";
  inherits: false;
  initial-value: #191E1C;
}
:root {
  /* Primary Button Shadow Color */
  --theme-primary-button-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.21);
  /* Forms */
  --theme-input-bg-color: #f5f5f5;
  --theme-input-text-color: black;
  /* Surveys */
  --theme-survey-bg: #fff;
  --theme-survey-input-bg-color: var(--theme-input-bg-color);
  --theme-survey-label-color: black;
  --theme-survey-padding-width: 40px;
  --theme-survey-progressbar-opacity: 0.2;
  /* Secion max width */
  --section-width: 1342px;
  /* CUSTOM VALUE VARIABLES - vars set from GHL custom values  */
  /* Theme Colors */
  --theme-primary-color: var(--color-lt985yd7);
  --theme-secondary-color: var(--color-lt9ca2ns);
  /* Text Colors */
  --theme-text-headline-color: var(--color-lt9cay4k);
  --theme-text-content-color: var(--color-lt9cbrrr);
  --theme-text-bold-color: var(--color-lt9cc31b);
  --theme-text-italic-color: var(--color-lt9cceqm);
  --theme-text-underlined-color: var(--color-lt9cdq6h);
  --theme-text-link-color: var(--color-lt9ceg80);
  --theme-text-highlight-color: var(--color-lt9cetri);
  --theme-text-dark-bg-color: var(--color-lt9cf6ne);
  /* Icon Colors */
  --theme-icon-color: var(--color-lt9cg14m);
  /* Button Colors */
  --theme-button-primary-text-color: var(--color-lt9cge0z);
  --theme-button-primary-bg-color: var(--color-lt9cgr2u);
  --theme-button-secondary-text-color: var(--color-lt9ch38v);
  --theme-button-secondary-bg-color: var(--color-lt9chjvd);
  /* Background Colors */
  --theme-background-1-color: var(--color-lt9cidqc);
  --theme-background-2-color: var(--color-lt9ciq7x);
  --theme-background-3-color: var(--color-lt9cj7fg);
  /* Fonts */
}

/* Override the GHL default vars */
:root {
  --text-color: var(--theme-text-content-color);
  --link-color: var(--theme-text-link-color);
}

/*# sourceMappingURL=config.css.map */
