/**
 * ADORNMENTS
 **/
.c-section:has([class*=adorn-]) > .inner {
  isolation: isolate;
}

.adorn-arrow-left::before, .adorn-arrow-right::after, .adorn-secondary-left::before, .adorn-secondary-right::after, .adorn-primary-top-left::before {
  --_adorn-color: var(--theme-primary-color);
  display: none;
  content: "";
  perspective: 1000px;
  position: absolute;
  z-index: -1;
  -webkit-mask-image: var(--_adorn-mask-image);
          mask-image: var(--_adorn-mask-image);
  background-color: var(--theme-primary-color);
  background-color: var(--_adorn-color);
  animation-fill-mode: both;
  animation-duration: 1ms;
  transform: scale3d(1, 1, 1);
  transform: scale3d(var(--adorn-scale, 1), 1, 1);
  transition: transform 1s ease-out;
}

.adorn-secondary-left::before, .adorn-secondary-right::after, .adorn-primary-top-left::before {
  view-timeline: --subjectReveal block;
  animation-timeline: --subjectReveal;
}

/* Adorn Primary */
.adorn-primary-top-left {
  position: relative;
  isolation: isolate;
}
.adorn-primary-top-left::before {
  --_adorn-mask-image: var(--adorn-primary-mask-image);
  --_max_scale: 1.6;
  --animate-scale: calc(var(--adorn-scale, 1) * var(--_max-scale, 1.6));
  top: -40px;
  left: -20px;
  width: 200px;
  height: 200px;
  transform-origin: 50% 50%;
  animation-name: scale;
  animation-range-start: entry 25%;
}
@media only screen and (min-width: 768px) {
  .adorn-primary-top-left::before {
    display: block;
  }
}

/* Adorn secondary */
.adorn-secondary-left, .adorn-secondary-right {
  position: relative;
}

.adorn-secondary-left::before, .adorn-secondary-right::after {
  --_adorn-mask-image: var(--adorn-secondary-mask-image);
  width: 144px;
  height: 144px;
  animation-range-start: entry 50%;
  animation-name: scaleSlide;
  --animate-scale: 1.2;
}

@media only screen and (min-width: 768px) {
  .adorn-secondary-left::before {
    display: block;
    top: -40px;
    left: -60px;
    --animate-x-end: -40px;
    --animate-y-end: 100px;
  }
  .adorn-secondary-right::after {
    display: block;
    bottom: -20px;
    right: -20px;
    --animate-x-end: 80px;
    --animate-y-end: -100px;
  }
}
/* Adorn Arrows */
.adorn-arrow-left, .adorn-arrow-right {
  position: relative;
}

.adorn-arrow-left::before, .adorn-arrow-right::after {
  --_scaleX: 1;
  --_adorn-mask-image: var(--adorn-arrow-mask-image);
  width: calc(150px * 1);
  width: calc(150px * var(--adorn-scale, 1));
  height: calc(150px * 1);
  height: calc(150px * var(--adorn-scale, 1));
  transform: scale3d(1, 1, 1) translate3d(calc(1 * 150px + 10px), calc(-1 * 1 * 150px / 2 + max(0.5lh, 0px)), 0);
  transform: scale3d(var(--_scaleX, 1), 1, 1) translate3d(calc(var(--adorn-scale, 1) * 150px + var(--gap, 10px)), calc(-1 * var(--adorn-scale, 1) * 150px / 2 + max(0.5lh, var(--_padding-block, 0px))), 0);
}

@media only screen and (min-width: 768px) {
  .adorn-arrow-left::before {
    display: block;
    top: 0;
    left: 0;
    --_scaleX: -1;
  }
  .adorn-arrow-right::after {
    display: block;
    top: 0;
    right: 0;
  }
}
/* Adorn Helpers */
.adorn-scale-25 {
  --adorn-scale: 0.25;
}

.adorn-scale-50 {
  --adorn-scale: 0.5;
}

.adorn-scale-75 {
  --adorn-scale: 0.75;
}

.adorn-scale-100 {
  --adorn-scale: 1;
}

.adorn-scale-125 {
  --adorn-scale: 1.25;
}

.adorn-scale-150 {
  --adorn-scale: 1.5;
}

.adorn-scale-175 {
  --adorn-scale: 1.75;
}

.adorn-scale-200 {
  --adorn-scale: 2;
}

.adorn-scale-225 {
  --adorn-scale: 2.25;
}

.adorn-scale-250 {
  --adorn-scale: 2.5;
}

.adorn-scale-275 {
  --adorn-scale: 2.75;
}

.adorn-scale-300 {
  --adorn-scale: 3;
}
