/**
 * BUTTONS
 **/
.c-button :is(.btn-primary, .btn-secondary, .btn-link),
.c-form .btn,
.c-order .form-btn {
  --_font-size: 1.125rem;
  --_font-weight: normal;
  --_border: 1px solid var(--transparent);
  --_border-radius: 1000px;
  --_box-shadow: none;
  --_padding-block: calc(1.15 * var(--_font-size));
  --_padding-inline: clamp(10px, 2em, 10em);
  font-family: var(--contentfont) !important;
  font-size: var(--_font-size) !important;
  line-height: 1em !important;
  font-weight: var(--_font-weight) !important;
  border: var(--_border) !important;
  border-radius: var(--_border-radius) !important;
  padding-block: var(--_padding-block) !important;
  color: var(--_color, #fff) !important;
  background-color: var(--_background-color, #000) !important;
  box-shadow: var(--_box-shadow, none) !important;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.c-button :is(.btn-primary, .btn-secondary, .btn-link) .main-text,
.c-button :is(.btn-primary, .btn-secondary, .btn-link) .main-heading-button,
.c-button :is(.btn-primary, .btn-secondary, .btn-link) .button-icon-start,
.c-button :is(.btn-primary, .btn-secondary, .btn-link) .button-icon-end,
.c-button :is(.btn-primary, .btn-secondary, .btn-link) p,
.c-button :is(.btn-primary, .btn-secondary, .btn-link) i,
.c-form .btn .main-text,
.c-form .btn .main-heading-button,
.c-form .btn .button-icon-start,
.c-form .btn .button-icon-end,
.c-form .btn p,
.c-form .btn i,
.c-order .form-btn .main-text,
.c-order .form-btn .main-heading-button,
.c-order .form-btn .button-icon-start,
.c-order .form-btn .button-icon-end,
.c-order .form-btn p,
.c-order .form-btn i {
  font-size: 1em !important;
  line-height: 1em !important;
  font-weight: var(--_font-weight) !important;
}
.c-button :is(.btn-primary, .btn-secondary, .btn-link) > div,
.c-form .btn > div,
.c-order .form-btn > div {
  font-size: unset !important;
  color: unset !important;
  background-color: unset !important;
  font-weight: unset !important;
  font-family: unset !important;
}

.c-button .btn-small,
.c-form .btn-small .btn[type=submit],
.c-order .btn-small .form-btn {
  --_font-size: 1rem;
  --_padding-block: 1rem;
}

.c-button .btn-large,
.c-form .btn-large .btn[type=submit],
.c-order .btn-large .form-btn {
  --_font-size: 1.25rem;
  --_padding-block: 1.25em;
}

.c-button .btn-xlarge,
.c-form .btn-xlarge .btn[type=submit],
.c-order .btn-xlarge .form-btn {
  --_font-size: 1.5rem;
  --_padding-block: 1em;
}

.c-button .btn-primary,
.c-form .btn[type=submit],
.c-order .form-btn {
  --_color: var(--theme-button-primary-text-color);
  --_background-color: var(--theme-button-primary-bg-color);
  --_box-shadow: var(--theme-button-primary-shadow);
  --_font-weight: 600;
}
.c-button .btn-primary:hover,
.c-form .btn[type=submit]:hover,
.c-order .form-btn:hover {
  --_box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

.c-button .btn-secondary,
.c-form .btn-secondary .btn[type=submit],
.c-order .btn-secondary .form-btn {
  --_color: var(--theme-button-secondary-text-color);
  --_background-color: var(--theme-button-secondary-bg-color);
  --_box-shadow: var(--theme-button-secondary-shadow);
  --_font-weight: normal;
}
.c-button .btn-secondary:hover,
.c-form .btn-secondary .btn[type=submit]:hover,
.c-order .btn-secondary .form-btn:hover {
  --_background-color: var(--theme-button-primary-bg-color);
  --_color: var(--theme-button-primary-text-color);
}

.c-button .btn-link {
  --_box-shadown: none;
  --_border: none;
  --_color: var(--theme-button-secondary-text-color);
  --_background-color: var(--theme-button-secondary-bg-color);
  --_font-weight: normal;
}
.c-button .btn-link .main-heading-button {
  text-decoration: underline;
}
.c-button .btn-link:hover {
  --_box-shadow: var(--theme-button-secondary-shadow);
}
