/**
 * CARD FLIPPER
 **/
@media only screen and (min-width: 768px) and (hover: hover) and (prefers-reduced-motion: no-preference) {
  .c-column.card-flipper {
    cursor: pointer;
    perspective: 1000px;
    border: none !important;
    box-shadow: none;
    padding-bottom: 0;
  }
  #preview-container .c-column.card-flipper:hover > .inner {
    transform: rotateY(180deg);
  }
  .c-column.card-flipper > .inner {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    will-change: transform;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: var(--theme-card-flipper-shadow, 0 1px 5px rgba(0, 0, 0, 0.1));
    padding-bottom: 20px;
  }
  .c-column.card-flipper .c-wrapper:has(> .card-front, > .card-back),
  .c-column.card-flipper .c-image:has(.card-front, .card-back) {
    width: 100%;
    flex: 0 0 auto;
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  #preview-container .c-column.card-flipper .c-wrapper:has(> .card-back), #preview-container .c-column.card-flipper .c-image:has(.card-back) {
    transform: rotateY(180deg);
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
