/**
 * CARD
 **/
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .card, .card2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
/* Card - grid with two columns and support for attaching to bottom row */
.card.c-column, .card2.c-column {
  --gap: 0px;
  text-wrap: pretty;
}
#preview-container .card.c-column, #preview-container .card2.c-column {
  container-type: inline-size;
}
.card.c-column > .inner, .card2.c-column > .inner {
  display: grid !important;
  grid-row-gap: 0 !important;
  row-gap: 0 !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(20, min-content) auto min-content;
  grid-auto-rows: min-content;
}
.card.c-column > .inner > .c-wrapper, .card2.c-column > .inner > .c-wrapper {
  grid-column: 1/span 2;
  grid-column: var(--col-start, 1)/span var(--col-span, 2);
  margin-bottom: var(--gap);
}
.card.c-column > .inner > .c-wrapper.c-button, .card2.c-column > .inner > .c-wrapper.c-button {
  --col-span: 1;
  --col-start: auto;
}
.card.c-column > .inner > .c-wrapper:has(.left) {
  --col-start: 1;
  --col-span: 1;
}
.card2.c-column > .inner > .c-wrapper:has(.left) {
  --col-start: 1;
  --col-span: 1;
}
.card.c-column > .inner > .c-wrapper:has(.right) {
  --col-start: 2;
  --col-span: 1;
}
.card2.c-column > .inner > .c-wrapper:has(.right) {
  --col-start: 2;
  --col-span: 1;
}
.card.c-column > .inner > .c-wrapper:has(.col-span-1) {
  --col-start: auto;
  --col-span: 1;
}
.card2.c-column > .inner > .c-wrapper:has(.col-span-1) {
  --col-start: auto;
  --col-span: 1;
}
.card.c-column > .inner > .c-wrapper:has(.middle, .col-span-2, .w-100) {
  --col-start: 1;
  --col-span: 2;
  justify-self: initial;
}
.card2.c-column > .inner > .c-wrapper:has(.middle, .col-span-2, .w-100) {
  --col-start: 1;
  --col-span: 2;
  justify-self: initial;
}
.card.c-column > .inner > .c-wrapper:has(.middle) {
  justify-self: center;
}
.card2.c-column > .inner > .c-wrapper:has(.middle) {
  justify-self: center;
}
.card.c-column > .inner > .c-wrapper:has(.bottom) {
  grid-row-start: -1;
  align-self: end;
  margin-bottom: 0;
}
.card2.c-column > .inner > .c-wrapper:has(.bottom) {
  grid-row-start: -1;
  align-self: end;
  margin-bottom: 0;
}
.card.c-column img.card-image, .card2.c-column img.card-image {
  width: 100% !important;
  height: auto;
  aspect-ratio: 3/2;
  aspect-ratio: var(--aspect-ratio, 3/2);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: var(--object-fit, cover);
     object-fit: var(--object-fit, cover);
}

.card.compact.c-column, .card2.compact.c-column {
  height: -moz-fit-content;
  height: fit-content;
  --gap: 0px;
}
.card.compact.c-column > .inner, .card2.compact.c-column > .inner {
  grid-template-rows: repeat(10, min-content);
}

.card2.c-column {
  --gap: 10px;
}
.card2.c-column .c-image:first-child img {
  width: 100% !important;
  height: auto;
  aspect-ratio: 3/2;
  aspect-ratio: var(--aspect-ratio, 3/2);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: var(--object-fit, cover);
     object-fit: var(--object-fit, cover);
}
.card2.c-column .c-image:last-child {
  --col-start: 2;
  --col-span: 1;
  grid-row-start: -1;
  margin-bottom: 0;
}
.card2.c-column .c-image-feature:last-child {
  grid-row-start: -1;
  margin-bottom: 0;
}
.card2.c-column .c-image:has(+ .c-image:last-child) {
  --col-span: 1;
  grid-row-start: -1;
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .card.c-column > .inner, .card2.c-column > .inner {
    grid-template-columns: 1fr;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .card.c-column > .inner > .c-wrapper, .card2.c-column > .inner > .c-wrapper {
    grid-column: 1/1;
  }
  .card.c-column > .inner > .c-button, .card2.c-column > .inner > .c-button {
    --width: 100%;
  }
  .card.c-column > .inner > .c-button button, .card2.c-column > .inner > .c-button button, .card.c-column > .inner > .c-button a, .card2.c-column > .inner > .c-button a {
    width: var(--width);
  }
  .card.c-column > .inner > .c-wrapper:has(.left, .right) {
    justify-self: center;
  }
  .card2.c-column > .inner > .c-wrapper:has(.left, .right) {
    justify-self: center;
  }
  .card.c-column > .inner > .c-wrapper:has(.bottom) {
    margin-bottom: 10px;
    grid-row-start: auto;
    align-self: auto;
  }
  .card2.c-column > .inner > .c-wrapper:has(.bottom) {
    margin-bottom: 10px;
    grid-row-start: auto;
    align-self: auto;
  }
  .card.c-column > .inner > .c-wrapper:last-child {
    margin-bottom: 0;
  }
  .card2.c-column > .inner > .c-wrapper:last-child {
    margin-bottom: 0;
  }
}
@container (width < 250px) {
  .card.c-column > .inner, .card2.c-column > .inner {
    grid-template-columns: 1fr;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .card.c-column > .inner > .c-wrapper, .card2.c-column > .inner > .c-wrapper {
    grid-column: 1/1;
  }
  .card.c-column > .inner > .c-button, .card2.c-column > .inner > .c-button {
    --width: 100%;
  }
  .card.c-column > .inner > .c-button button, .card2.c-column > .inner > .c-button button, .card.c-column > .inner > .c-button a, .card2.c-column > .inner > .c-button a {
    width: var(--width);
  }
  .card.c-column > .inner > .c-wrapper:has(.left, .right) {
    justify-self: center;
  }
  .card2.c-column > .inner > .c-wrapper:has(.left, .right) {
    justify-self: center;
  }
  .card.c-column > .inner > .c-wrapper:has(.bottom) {
    margin-bottom: 10px;
    grid-row-start: auto;
    align-self: auto;
  }
  .card2.c-column > .inner > .c-wrapper:has(.bottom) {
    margin-bottom: 10px;
    grid-row-start: auto;
    align-self: auto;
  }
  .card.c-column > .inner > .c-wrapper:last-child {
    margin-bottom: 0;
  }
  .card2.c-column > .inner > .c-wrapper:last-child {
    margin-bottom: 0;
  }
}
.card-shadow {
  box-shadow: 0 6px 24px 0 rgba(27, 27, 27, 0.04);
  box-shadow: var(--theme-card-shadow, 0 6px 24px 0 rgba(27, 27, 27, 0.04));
}

.card-shadow2 {
  box-shadow: 0 6px 24px 0 rgba(27, 27, 27, 0.2);
  box-shadow: var(--theme-card-shadow2, 0 6px 24px 0 rgba(27, 27, 27, 0.2));
}
