/**
 * CONTENT
 **/
.content.c-column {
  align-self: center;
}
.content.c-column > .horizontal .c-wrapper:not(.c-button):not(.c-custom-code) {
  flex-basis: 100%;
}
.content.c-column > .horizontal > .c-button {
  flex: 0 1 fit-content;
}
