/**
 * COOKIE CONSENT BANNER
 **/
/**
 * BUTTONS
 **/
.c-button .btn-custom, .hl-cookie-consent-banner .button, .c-button .btn-primary, .c-button .btn-secondary, .c-button .btn-link, .c-form .btn, .c-order .form-btn {
  --_padding-block: calc(1.15 * var(--_font-size, 1.125rem));
  font-family: var(--contentfont) !important;
  font-size: 1.125rem !important;
  font-size: var(--_font-size, 1.125rem) !important;
  font-weight: normal !important;
  font-weight: var(--_font-weight, normal) !important;
  line-height: 1em !important;
  border-radius: 1000px !important;
  border-radius: var(--_border-radius, 1000px) !important;
  box-shadow: none !important;
  box-shadow: var(--_box-shadow, none) !important;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s, background-color 0.3s;
  padding-top: calc(1.15 * 1.125rem) !important;
  padding-bottom: calc(1.15 * 1.125rem) !important;
  padding-top: var(--_padding-block) !important;
  padding-bottom: var(--_padding-block) !important;
  cursor: pointer;
}
.c-button .btn-custom .main-text, .hl-cookie-consent-banner .button .main-text, .c-button .btn-primary .main-text, .c-button .btn-secondary .main-text, .c-button .btn-link .main-text, .c-form .btn .main-text, .c-order .form-btn .main-text, .c-button .btn-custom .main-heading-button, .hl-cookie-consent-banner .button .main-heading-button, .c-button .btn-primary .main-heading-button, .c-button .btn-secondary .main-heading-button, .c-button .btn-link .main-heading-button, .c-form .btn .main-heading-button, .c-order .form-btn .main-heading-button, .c-button .btn-custom .button-icon-start, .hl-cookie-consent-banner .button .button-icon-start, .c-button .btn-primary .button-icon-start, .c-button .btn-secondary .button-icon-start, .c-button .btn-link .button-icon-start, .c-form .btn .button-icon-start, .c-order .form-btn .button-icon-start, .c-button .btn-custom .button-icon-end, .hl-cookie-consent-banner .button .button-icon-end, .c-button .btn-primary .button-icon-end, .c-button .btn-secondary .button-icon-end, .c-button .btn-link .button-icon-end, .c-form .btn .button-icon-end, .c-order .form-btn .button-icon-end, .c-button .btn-custom p, .hl-cookie-consent-banner .button p, .c-button .btn-primary p, .c-button .btn-secondary p, .c-button .btn-link p, .c-form .btn p, .c-order .form-btn p, .c-button .btn-custom i, .hl-cookie-consent-banner .button i, .c-button .btn-primary i, .c-button .btn-secondary i, .c-button .btn-link i, .c-form .btn i, .c-order .form-btn i {
  font-size: 1em !important;
  line-height: 1em !important;
  font-weight: normal !important;
  font-weight: var(--_font-weight, normal) !important;
}

.hl-cookie-consent-banner .button,
.c-button .btn-primary,
.c-button .btn-secondary,
.c-button .btn-link,
.c-form .btn,
.c-order .form-btn {
  color: #fff !important;
  color: var(--_color, #fff) !important;
  background-color: #000 !important;
  background-color: var(--_background-color, #000) !important;
}

.c-form .btn,
.c-order .form-btn {
  --_border: 1px solid var(--transparent);
  border: 1px solid var(--transparent) !important;
  border: var(--_border) !important;
}
.c-form .btn > div,
.c-order .form-btn > div {
  font-size: inherit !important;
  color: inherit !important;
  background-color: transparent !important;
  background-color: initial !important;
  font-weight: inherit !important;
  font-family: inherit !important;
}

.c-button span.main-heading-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .c-button {
    --width: 100%;
    flex: 1 0 100% !important;
    flex: 1 0 var(--width) !important;
  }
  .c-button button,
  .c-button a {
    width: 100%;
    width: var(--width, 100%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.hl-cookie-consent-banner .button,
.c-button .btn-xsmall,
.btn-xsmall .btn[type=submit],
.btn-xsmall .form-btn:not(.does-not-exist) {
  --_font-size: 0.875rem;
  --_padding-block: 1rem;
}

.c-button .btn-small,
.btn-small .btn[type=submit],
.btn-small .form-btn:not(.does-not-exist) {
  --_font-size: 1rem;
  --_padding-block: 1rem;
}

.c-button .btn-large,
.btn-large .btn[type=submit],
.btn-large .form-btn:not(.does-not-exist) {
  --_font-size: 1.25rem;
  --_padding-block: 1.25em;
}

.c-button .btn-xlarge,
.btn-xlarge .btn[type=submit],
.btn-xlarge .form-btn:not(.does-not-exist) {
  --_font-size: 1.5rem;
  --_padding-block: 1em;
}

.hl-cookie-consent-banner .button.secondary,
.c-button .btn-primary,
.btn-primary .btn[type=submit],
.btn-primary .form-btn:not(.does-not-exist),
.c-form .btn[type=submit],
.c-order .form-btn {
  --_color: var(--theme-button-primary-text-color);
  --_background-color: var(--theme-button-primary-bg-color);
  --_box-shadow: var(--theme-button-primary-shadow);
  --_font-weight: 600;
}
.hl-cookie-consent-banner .button.secondary:hover,
.c-button .btn-primary:hover,
.btn-primary .btn[type=submit]:hover,
.btn-primary .form-btn:not(.does-not-exist):hover,
.c-form .btn[type=submit]:hover,
.c-order .form-btn:hover {
  --_box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

.hl-cookie-consent-banner .button.primary,
.c-button .btn-secondary,
.btn-secondary .btn[type=submit],
.btn-secondary .form-btn:not(.does-not-exist) {
  --_color: var(--theme-button-secondary-text-color);
  --_background-color: var(--theme-button-secondary-bg-color);
  --_box-shadow: var(--theme-button-secondary-shadow);
  --_font-weight: normal;
}
.hl-cookie-consent-banner .button.primary:hover,
.c-button .btn-secondary:hover,
.btn-secondary .btn[type=submit]:hover,
.btn-secondary .form-btn:not(.does-not-exist):hover {
  --_background-color: var(--theme-button-primary-bg-color);
  --_color: var(--theme-button-primary-text-color);
}

.c-button .btn-link,
.btn-link .btn[type=submit],
.btn-link .form-btn:not(.does-not-exist) {
  --_box-shadown: none;
  --_color: var(--theme-button-link-text-color);
  --_background-color: var(--theme-button-link-bg-color);
  --_font-weight: normal;
  border: none !important;
}
.c-button .btn-link .main-heading-button,
.btn-link .btn[type=submit] .main-heading-button,
.btn-link .form-btn:not(.does-not-exist) .main-heading-button {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.c-button .btn-link:hover,
.btn-link .btn[type=submit]:hover,
.btn-link .form-btn:not(.does-not-exist):hover {
  --_box-shadow: var(--theme-button-secondary-shadow);
}

.c-button .btn-custom {
  --_box-shadow: var(--theme-button-secondary-shadow);
}
.c-button .btn-custom:hover {
  --_box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

.hl-cookie-consent-banner {
  background-color: #000;
  background-color: var(--theme-cookie-banner-bg-color, #000);
}
.hl-cookie-consent-banner .banner-text {
  color: #fff;
  color: var(--theme-cookie-banner-text-color, #fff);
}
.hl-cookie-consent-banner a[href] {
  color: #fff;
  color: var(--theme-cookie-banner-link-color, #fff);
}
