/**
 * DECORATORS
 **/
@media (prefers-reduced-motion: no-preference) {
  #preview-container p > a[href]:not(.no-decorate *) {
    position: relative;
    text-wrap: nowrap;
    text-wrap: var(--decorate-links-wrap, nowrap);
  }
  #preview-container h1 > a[href]:not(.no-decorate *) {
    position: relative;
    text-wrap: nowrap;
    text-wrap: var(--decorate-links-wrap, nowrap);
  }
  #preview-container h2 > a[href]:not(.no-decorate *) {
    position: relative;
    text-wrap: nowrap;
    text-wrap: var(--decorate-links-wrap, nowrap);
  }
  #preview-container h3 > a[href]:not(.no-decorate *) {
    position: relative;
    text-wrap: nowrap;
    text-wrap: var(--decorate-links-wrap, nowrap);
  }
  #preview-container .decorate a[href] {
    position: relative;
    text-wrap: nowrap;
    text-wrap: var(--decorate-links-wrap, nowrap);
  }
  #preview-container p > a[href]:not(.no-decorate *):hover {
    text-decoration-line: none;
    text-decoration-line: var(--decorate-links-underline, none);
  }
  #preview-container h1 > a[href]:not(.no-decorate *):hover {
    text-decoration-line: none;
    text-decoration-line: var(--decorate-links-underline, none);
  }
  #preview-container h2 > a[href]:not(.no-decorate *):hover {
    text-decoration-line: none;
    text-decoration-line: var(--decorate-links-underline, none);
  }
  #preview-container h3 > a[href]:not(.no-decorate *):hover {
    text-decoration-line: none;
    text-decoration-line: var(--decorate-links-underline, none);
  }
  #preview-container .decorate a[href]:hover {
    text-decoration-line: none;
    text-decoration-line: var(--decorate-links-underline, none);
  }
  #preview-container p > a[href]:not(.no-decorate *)::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #preview-container h1 > a[href]:not(.no-decorate *)::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #preview-container h2 > a[href]:not(.no-decorate *)::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #preview-container h3 > a[href]:not(.no-decorate *)::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #preview-container .decorate a[href]::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #preview-container p > a[href]:not(.no-decorate *):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #preview-container h1 > a[href]:not(.no-decorate *):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #preview-container h2 > a[href]:not(.no-decorate *):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #preview-container h3 > a[href]:not(.no-decorate *):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #preview-container .decorate a[href]:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #preview-container .decorate a[href]::after {
    display: inline;
    display: initial;
  }
}
