/**
 * DECORATORS
 **/
@media only screen and (prefers-reduced-motion: no-preference) {
  p > a[href]:not(.no-decorate), h1 > a[href]:not(.no-decorate), h2 > a[href]:not(.no-decorate), h3 > a[href]:not(.no-decorate), .decorate a[href] {
    position: relative;
    text-wrap: nowrap;
    text-wrap: var(--decorate-links-wrap, nowrap);
  }
  p > a[href]:not(.no-decorate):hover, h1 > a[href]:not(.no-decorate):hover, h2 > a[href]:not(.no-decorate):hover, h3 > a[href]:not(.no-decorate):hover, .decorate a[href]:hover {
    text-decoration-line: none;
    text-decoration-line: var(--decorate-links-underline, none);
  }
  p > a[href]:not(.no-decorate)::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  h1 > a[href]:not(.no-decorate)::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  h2 > a[href]:not(.no-decorate)::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  h3 > a[href]:not(.no-decorate)::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .decorate a[href]::after {
    display: inline;
    display: initial;
    display: var(--decorate-links, initial);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1lh;
    bottom: -3px;
    left: 0;
    background-color: var(--theme-text-link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  p > a[href]:not(.no-decorate):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  h1 > a[href]:not(.no-decorate):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  h2 > a[href]:not(.no-decorate):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  h3 > a[href]:not(.no-decorate):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .decorate a[href]:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .decorate a[href]::after {
    display: inline;
    display: initial;
  }
}
.no-decorate {
  --decorate-links: none;
  --decorate-links-underline: underline;
}
