/**
 * FEATURE IMAGE
 **/
:is(.content, .card) .c-image-feature .img-feature-container {
  display: flex !important;
  gap: 10px;
}
:is(.content, .card) .c-image-feature .img-feature-container.feature-img-right .img-container {
  order: 2;
}
:is(.content, .card) .c-image-feature .img-container {
  flex: 0 0 max-content;
}
:is(.content, .card) .c-image-feature .txt-container {
  flex: 1 auto;
}
:is(.content, .card) .horizontal .c-image-feature {
  flex-basis: 100% !important;
}
