/**
 * GHL BASE
 * Modify GHL page behavior.
 */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
html {
  scroll-padding-top: 80px;
  scroll-padding-top: var(--scroll-padding-top, 80px);
}

.inner {
  gap: initial;
  gap: var(--gap, initial);
}

.c-section > .inner {
  max-width: var(--section-width) !important;
  padding-left: var(--section-padding) !important;
  padding-right: var(--section-padding) !important;
}
@media only screen and (max-width: 480px) {
  .c-section > .inner {
    --section-padding: var(--section-padding-mobile) !important;
  }
}

.c-column > .inner {
  position: relative;
}

.c-column > .inner:has(> .c-form, > .c-survey) {
  z-index: 2;
}

.c-video {
  align-self: normal;
}
