/**
 * GHL EDITOR
 * Make pages easier to edit and more visually consistent with the live version
 **/
/* Make the editor behave with @container queries only in mobile view */
section.hl_page-creator--content.--mobile {
  container-type: inline-size;
  container-name: EditorViewPort;
}
section.hl_page-creator--content.--mobile div[id^=tippy] {
  position: absolute !important;
}

/* Style Editor Modifications */
#page-creator .hl_style-control .color-border > div.color-box[title^=Theme] {
  order: -1;
  margin-bottom: 10px !important;
}
#page-creator .hl_style-control .color-border > div.color-box[title^=Theme]::after {
  font-size: 10px;
  content: attr(title);
  position: absolute;
  overflow: clip;
  left: 0;
  bottom: -1.4em;
  width: 100%;
  height: 1rem;
  text-align: center;
  color: black;
  background: white;
}
#page-creator .hl_style-control .color-border > div.color-box[title^=Theme][title*=Primary]::after {
  content: "Primary";
}
#page-creator .hl_style-control .color-border > div.color-box[title^=Theme][title*=Secondary]::after {
  content: "Secondary";
}
#page-creator .hl_style-control .color-border > div.color-box[title^=Theme][title*=Text]::after {
  content: "Text";
}
#page-creator .hl_style-control .color-border > div.color-box[title^=Theme][title*=Icon]::after {
  content: "Icon";
}
#page-creator .hl_style-control .color-border > div.color-box[title^=Theme][title*=Button]::after {
  content: "Button";
}
#page-creator .hl_style-control .color-border > div.color-box[title^=Theme][title*=Background]::after {
  content: "BG";
}
#page-creator .hl_style-control .color-border > div.color-box[title^="[CustomValue]"] {
  display: none;
  display: var(--editor-display-custom-colors, none);
  order: -1;
  margin-bottom: 10px !important;
  border-radius: 0;
  background-color: #ccc;
  background-image: none;
}
#page-creator .hl_style-control .color-border > div.color-box[title^="[CustomValue]"]::after {
  content: "[CV]";
  font-size: 10px;
  position: absolute;
  overflow: clip;
  left: 0;
  bottom: -1.4em;
  width: 100%;
  height: 1rem;
  text-align: center;
  color: black;
  background: white;
}
#page-creator .hl_style-control .color-border .color-box .active-color {
  border: 2px dotted red !important;
}

#page-creator .card .ui.selected .outline-border::before {
  content: var(--_block-label);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: var(--white);
  background-color: var(--purple);
  line-height: 1em;
  padding: 2px 4px;
}

#page-creator .card2 .ui.selected .outline-border::before {
  content: var(--_block-label);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: var(--white);
  background-color: var(--purple);
  line-height: 1em;
  padding: 2px 4px;
}

#page-creator .content .ui.selected .outline-border::before {
  content: var(--_block-label);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: var(--white);
  background-color: var(--purple);
  line-height: 1em;
  padding: 2px 4px;
}
#page-creator .card {
  --_block-label: "CARD";
}
#page-creator .card2 {
  --_block-label: "CARD2";
}
#page-creator .content {
  --_block-label: "CONTENT";
}
