/**
 * FEATURE IMAGE
 **/
.content .c-image-feature .img-feature-container, .card .c-image-feature .img-feature-container, .card2 .c-image-feature .img-feature-container {
  display: flex !important;
  gap: 10px;
}
.content .c-image-feature .img-feature-container.feature-img-right .img-container, .card .c-image-feature .img-feature-container.feature-img-right .img-container, .card2 .c-image-feature .img-feature-container.feature-img-right .img-container {
  order: 2;
}
.content .c-image-feature .img-container, .card .c-image-feature .img-container, .card2 .c-image-feature .img-container {
  flex: 0 0 max-content;
}
.content .c-image-feature .txt-container, .card .c-image-feature .txt-container, .card2 .c-image-feature .txt-container {
  flex: 1 auto;
}
.content .horizontal .c-image-feature, .card .horizontal .c-image-feature, .card2 .horizontal .c-image-feature {
  flex-basis: 100% !important;
}
