/** THEME DEFAULTS
 * These values are used as fallbacks if Custom Values are not set.
 * Defaults are used by javascript to set fallbacks when custom value config
 * options are improperly set. This is required since some browsers (i.e. Firefox)
 * do not properly use @property initial-value when a variable is set to an
 * invalid value.
 **/
:root {
  --default-theme-primary-color: #079561;
  --default-theme-secondary-color: #56D296;
  --default-theme-accent-color: #56D296;
  --default-theme-attention-color: #079561;
  --default-theme-text-headline-color: #000;
  --default-theme-text-content-color: #859389;
  --default-theme-text-link-color: #188bf6;
  --default-theme-text-dark-bg-color: #fff;
  --default-theme-icon-color: #079561;
  --default-theme-button-primary-text-color: #fff;
  --default-theme-button-primary-bg-color: #079561;
  --default-theme-background-1-color: #fff;
  --default-theme-background-2-color: #FBFBFB;
  --default-theme-background-dark-color: #191E1C;
  --default-theme-headlinefont: Plus Jakarta Sans, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  --default-theme-contentfont: Plus Jakarta Sans, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

/* Theme Custom Properties */
@property --color-lt985yd7 {
  syntax: "<color>";
  inherits: false;
  initial-value: #079561;
}
@property --color-lt9ca2ns {
  syntax: "<color>";
  inherits: false;
  initial-value: #56D296;
}
@property --color-luhfgx7m {
  syntax: "<color>";
  inherits: false;
  initial-value: #56D296;
}
@property --color-luhfsans {
  syntax: "<color>";
  inherits: false;
  initial-value: #079561;
}
@property --color-lt9cay4k {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}
@property --color-lt9cbrrr {
  syntax: "<color>";
  inherits: false;
  initial-value: #859389;
}
@property --color-lt9ceg80 {
  syntax: "<color>";
  inherits: false;
  initial-value: #188bf6;
}
@property --color-lt9cf6ne {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}
@property --color-lt9cg14m {
  syntax: "<color>";
  inherits: false;
  initial-value: #079561;
}
@property --color-luhh4ycy {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}
@property --color-luhgqfvg {
  syntax: "<color>";
  inherits: false;
  initial-value: #079561;
}
@property --color-lt9cidqc {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}
@property --color-lt9ciq7x {
  syntax: "<color>";
  inherits: false;
  initial-value: #FBFBFB;
}
@property --color-lt9cj7fg {
  syntax: "<color>";
  inherits: false;
  initial-value: #191E1C;
}
