/**
 * SCROLL
 **/
.scroll-horizontal {
  --min-column-width: 350px;
  --_scrollbar-size: var(--scrollbar-size, 10px);
}
@media only screen and (max-width: 767px) {
  .scroll-horizontal {
    margin-left: -24px !important;
    min-width: 100vmin;
    padding-right: 0 !important;
  }
}
.scroll-horizontal > .inner {
  --columns-gap: var(--gap, 20px);
  overflow-x: scroll;
  flex-direction: row;
  padding-top: var(--_scrollbar-size);
  padding-bottom: var(--_scrollbar-size);
  padding-left: var(--_scrollbar-size) !important;
  margin-left: calc(-1 * var(--_scrollbar-size)) !important;
}
.scroll-horizontal > .inner > .c-column {
  flex-shrink: 0 !important;
  width: max(var(--min-column-width), 50% - 20px);
  width: max(var(--min-column-width), 50% - var(--columns-gap, 20px));
}
.scroll-horizontal > .inner > .card.c-column, .scroll-horizontal > .inner > .card2.c-column {
  width: max(350px, 33.3333333333% - 20px * 2) !important;
  width: max(var(--min-column-width, 350px), 33.3333333333% - var(--columns-gap, 20px) * 2) !important;
}
.scroll-horizontal > .inner > div:last-child {
  margin-right: var(--_scrollbar-size) !important;
}
