/**
 * SHOW MORE
 **/
#preview-container .inner > .c-wrapper:has(> .show-less-btn), #preview-container .c-wrapper.show-less {
  display: none;
}
#preview-container .show-more-enabled.inner > .c-wrapper:has(> .show-less-btn), #preview-container .show-more-enabled .c-wrapper.show-less {
  display: inline;
  display: initial;
}
#preview-container .show-more-enabled.inner > .c-wrapper:has(> .show-more-btn), #preview-container .show-more-enabled .c-wrapper.show-more {
  display: none;
}
#preview-container .show-more-wrapper {
  opacity: 1;
  max-height: 10000px;
  transition: max-height 0.5s ease, opacity 0.5s ease-out;
}
#preview-container .show-more-hide {
  opacity: 0;
  max-height: 0;
}
#preview-container .show-more-fast {
  transition: none;
}
#preview-container .show-more-fast.show-more-hide {
  display: none;
}
