/**
 * TABS
 **/
.tabs .c-bullet-list .tabs-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.tabs .c-bullet-list .tabs-nav li {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
