/**
 * TOP NAV & BANNER
 **/
/* Banner */
.notification-banner {
  --_min-padding-block: 5px;
  z-index: 98;
  margin: 0;
  left: 0;
  right: 0;
  perspective: 1000px;
}
.notification-banner > .inner {
  max-width: 100% !important;
}
.notification-banner .c-column {
  padding-left: 30px;
}
.notification-banner .c-column > .inner > div {
  flex: 1 auto;
}
.notification-banner.banner-fixed {
  position: fixed;
  top: 0;
  top: var(--sticky-topnav-bottom, 0);
}
.notification-banner .c-paragraph:has(.btn-close) {
  flex: 0 1 auto !important;
}
.notification-banner .btn-close {
  transition: opacity 250ms ease-out, transform 100ms linear;
  padding-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.notification-banner .btn-close:hover {
  opacity: 1 !important;
  transform: scale3d(1.4, 1.4, 1);
}
.notification-banner .btn-close .button-icon-start,
.notification-banner .btn-close .main-heading-button {
  display: none;
}
@supports (animation-timeline: scroll()) {
  .notification-banner.banner-fixed {
    animation: banner-scroll linear both;
    animation-timeline: scroll();
    animation-range: 5ex 20ex;
  }
  .notification-banner.banner-hide {
    transition: opacity 200ms linear;
    opacity: 0;
    pointer-events: none;
  }
  .notification-banner.banner-hide > div {
    animation: hide-banner-scroll-contents 150ms linear both;
  }
}
@supports not (animation-timeline: scroll()) {
  .notification-banner {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: var(--_min-padding-block, 5px);
    padding-bottom: var(--_min-padding-block, 5px);
  }
  .notification-banner.banner-hide {
    animation: hide-banner 150ms linear both;
  }
}

@media only screen and (min-width: 481px) {
  #preview-container .notification-banner:not(.banner-fixed) {
    position: sticky;
  }
}
@media only screen and (max-width: 480px) {
  .notification-banner {
    position: static !important;
  }
  .notification-banner .c-paragraph:has(.btn-close),
  .notification-banner .btn-close {
    display: none;
  }
  .notification-banner .c-column {
    padding-left: 0;
  }
}
@keyframes banner-scroll {
  100% {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: var(--_min-padding-block, 5px);
    padding-bottom: var(--_min-padding-block, 5px);
    transform: translate3d(0, calc(-1 * 0), 0);
    transform: translate3d(0, calc(-1 * var(--topnav-padding, 0)), 0);
  }
}
@keyframes hide-banner-scroll-contents {
  100% {
    transform: translate3d(0, -50px, 0);
  }
}
@keyframes hide-banner {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    display: none;
  }
}
/* TOPNAV */
.topnav {
  --box-shadow: var(--topnav-shadow, none);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 200ms cubic-bezier(0.33, 1, 0.68, 1);
  z-index: 99;
}
.topnav.scroll {
  box-shadow: var(--box-shadow);
}
.topnav .image-container {
  transition: transform 500ms ease-out;
}

@supports (animation-timeline: scroll()) {
  .topnav-fixed {
    animation: topnav-scroll linear both;
  }
  .topnav-fixed .image-container {
    --animate-scale: 0.8;
    animation: scale linear both;
    transform-origin: center left;
  }
  .topnav,
  .topnav .image-container {
    animation-timeline: scroll();
    animation-range: 5ex 20ex;
  }
}
@supports not (animation-timeline: scroll()) {
  @media only screen and (max-width: 480px) {
    .topnav .image-container {
      transform: scale3d(0.8, 0.8, 1);
      transform-origin: center left;
    }
  }
}
.nav-menu-item > a {
  transition: none !important;
}
.nav-menu-item:hover > a {
  border-radius: 10px;
}
.nav-menu-item:hover .dropdown-menu {
  max-height: 300px;
  overflow: scroll;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.nav-menu-item:not(:hover).dropdown > a {
  transition-delay: 0.15s !important;
  transition-property: color, background-color, border-radius !important;
  transition-duration: 0s !important;
}
.nav-menu-item:hover.dropdown > a {
  border-radius: 10px 10px 0 0;
  z-index: 2;
  position: relative;
}
.nav-menu-item .dropdown-menu {
  z-index: 1;
  border-radius: 0 5px 10px 10px;
  overflow: clip;
  max-height: 0;
  transition: max-height 0.15s ease, opacity 0.2s ease-out;
  display: block;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}
.nav-menu-item .dropdown-item {
  position: relative;
}
.nav-menu-item .dropdown-item:hover::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}
.nav-menu-item .dropdown-item > a {
  padding-left: 1em !important;
}
.nav-menu-item .dropdown-item > a:last-child {
  padding-bottom: 12px !important;
}

#nav-menu-popup .nav-menu-body {
  padding: 0;
}
#nav-menu-popup .nav-menu-body > .nav-menu {
  padding: 60px 30px 20px 20px;
}
#nav-menu-popup .nav-menu-item {
  text-align: left;
}
#nav-menu-popup .nav-dropdown-menu {
  padding: 0 0 0.5em 1em !important;
}
#nav-menu-popup .nav-dropdown-menu .nav-menu-item {
  background-color: transparent !important;
  background-color: initial !important;
}
#nav-menu-popup .nav-dropdown-menu .nav-menu-item a {
  color: currentColor !important;
  text-align: left;
}
#nav-menu-popup .nav-menu-item:hover,
#nav-menu-popup .nav-menu-item:hover a {
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-color: var(--theme-button-primary-bg-color, rgba(0, 0, 0, 0.5)) !important;
  color: white !important;
  color: var(--theme-button-primary-text-color, white) !important;
}

@keyframes topnav-scroll {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: var(--box-shadow);
    padding-top: 0;
    padding-bottom: 0;
  }
}
